
<mat-sidenav-container fullscreen>
  <mat-sidenav mode="side" #sidenav opened position="start">
    left panel
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/sign-in'"> sign-in </a>
      <a mat-list-item [routerLink]="'/register-user'"> register-user </a>
      <a mat-list-item [routerLink]="'/dashboard'"> dashboard </a>
      <a mat-list-item [routerLink]="'/forgot-password'"> forgot-password </a>
      <a mat-list-item [routerLink]="'/verify-email-address'"> verify-email-address </a>
      
      <a mat-list-item [routerLink]="'/about'"> About </a>
      <a mat-list-item [routerLink]="'/support'"> Support </a>
      <a mat-list-item [routerLink]="'/note/1/desc'"> Note </a>
      <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      My Application
      <span class="toolbar-spacer"></span>
      My Account
    </mat-toolbar>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
    
  </mat-sidenav-content>
</mat-sidenav-container>






